.container {
  min-height: 100vh;
  padding: 15px;
  background-color: rgb(211, 231, 243);
}

.example-card {
  margin-block: 15px;
}

.news-container {
  padding-left: 20px;
}

.img-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: hidden;
}
.desc{
  line-height: 1.2em;
  max-height: 4 * 1.2em; /* Adjust the number of lines and line height accordingly */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
}