.parallex {
  height: 50vh;
  background: url(../../../../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: white;
}