<div class="container">
  <div class="top" fxLayoutGap="30px" fxLayoutAlign="space-around center">
    <img src="../../../../assets/left.png" height="150px" alt="antony" fxHide.lt-md="true">
    <h3 style="text-align:center;">" எங்களுக்காக வேண்டிக்கொள்ளுங்கள் "</h3>
    <img src="../../../../assets/right.png" height="150px" alt="kathrine" fxHide.lt-md="true">
  </div>
  <div class="banner" style="height: 50vh;padding: 25px;" fxLayoutAlign="center center">
    <img src="../../../../assets/banner.jpg" alt="banner" height="100%">
  </div>
  <div class="md-container">
    <div class="wrapper">
      <!-- title-section -->
      <div class="title-container">வழிபாடு நேரங்கள்</div> <!-- table-section -->
      <div class="table-container">
        <table>
          <!-- thead -->
          <thead>
            <tr>
              <th>No.</th>
              <th>Days</th>
              <th>Timing</th>
            </tr>
          </thead>
          <!-- tbody -->
          <tbody>
            <tr>
              <td>1.</td>
              <td>Sunday</td>
              <td>7.00 AM</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Monday</td>
              <td>6.00 AM</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Tuesday</td>
              <td>7.00 pm</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Wednesday</td>
              <td>6.00 AM</td>
            </tr>
            <tr>
              <td>5.</td>
              <td>Thursday</td>
              <td>6.00 AM</td>
            </tr>
            <tr>
              <td>6.</td>
              <td>Friday</td>
              <td>6.00 AM</td>
            </tr>
            <tr>
              <td>7.</td>
              <td>Saturday</td>
              <td>7.00 pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="parallex" fxLayout="column" fxLayoutAlign="center center">
    <h1>" ஞானம் உன் உள்ளத்தில் குடிபுகும்; அறிவு உன் இதயத்திற்கு இன்பம் தரும்.</h1>
    <p>நீதிமொழிகள் - 2:10</p>
  </div>
</div>