<div style="min-height: 250px;background-color: #23272e;padding: 20px;color: white;" fxLayout="row"
  fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <span fxLayoutAlign="center center" fxLayout="column">
    <h2>
      contact us
    </h2>
    <span>Email: <a href="mailto:">antochurch2020@gmail.com</a></span>
    <span>Phone: <a href="tel:+">9677537595</a></span>
  </span>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2>
      Social Media
    </h2>
    <div class="social-media" fxLayoutGap="10px">
      <a href="https://www.facebook.com/profile.php?id=100089117561508&sk=about" target="_blank"
        rel="noopener noreferrer">
        <img src="../../../../assets/facebook.svg" alt="facebook">
      </a>
      <a href="https://www.youtube.com/@antochurchantonyarpuram7440" target="_blank" rel="noopener noreferrer">
        <img src="../../../../assets/youtube.svg" alt="youtube">
      </a>
      <a href="https://www.instagram.com/antonyarpuram" target="_blank" rel="noopener noreferrer">
        <img src="../../../../assets/instagram.svg" alt="instagram">
      </a>
    </div>
  </div>
</div>