<pre class="content">
  <div fxLayoutAlign="center center" fxLayout="column">

    <h1> புனித அந்தோணியார் ஆலயம் வரலாறு</h1>
    <h2>அந்தோணியார் புரம்</h2>
  </div>
  கிளைப்பங்குகள்:
  💜1. குழந்தை இயேசு ஆலயம், இந்திராநகர்
  🤎2. புனித ரோஜா மாதா ஆலயம், கோரம்பள்ளம
  🧡3. திருச்சிலுவைநாதர் ஆலயம், திரவியபுரம்
  💚4. புனித குழந்தை தெரசாள் ஆலயம், நாச்சியார்புரம்
  💛5. கிறிஸ்து அரசர் ஆலயம், மறவன்மடம்
  ♥️6. புனித வளனார் ஆலயம், மடத்தூர்
  💐பங்குத்தந்தை: அருட்பணி.‌ விளாடிமிர் டிக்சன்
  👪குடும்பங்கள்: 450
  ♥️அன்பியங்கள்: 13
  வழிபாட்டு நேரங்கள்:
  ✝️ஞாயிறு திருப்பலி காலை 07:00 மணிக்கு
  ✝️திங்கள், புதன், வியாழன் வெள்ளி திருப்பலி: காலை 06:00 மணிக்கு
  ✝️செவ்வாய் மாலை 07:00 மணிக்கு திருப்பலி
  ✝️சனிக்கிழமை மாலை 07:00 மணிக்கு திருப்பலி (கெபியில்)
  🕯️முதல் வியாழன் மாலை 07:00 மணிக்கு திருமணி ஆராதனை
  🎉திருவிழா: புனித அந்தோணியார் திருவிழா: தை மாதம் (ஜனவரி) முதல் செவ்வாய் கொடியேற்றத்துடன் ஆரம்பித்து, 13 நாட்கள்
  நடைபெறும்.
  புனித கத்தரீனம்மாள் திருவிழா: ஆவணி மாதம் (ஆகஸ்ட், செப்டம்பர்) முதல் வெள்ளி கொடியேற்றத்துடன் ஆரம்பித்து 10 நாட்கள்
  நடைபெறும்.
  மண்ணின் இறையழைத்தல்கள்:
  💐1. அருட்சகோதரி.‌ரீகா, புனித அன்னாள் சபை, விஜயவாடா
  💐2. அருட்சகோதரி.‌ நந்தினி, புனித அலோசியஸ் கொன்சாகா, பாண்டிச்சேரி தலைமையகம்
  💎Church facebook ID:
  https://www.facebook.com/antochurch2020
  👉வழித்தடம்: தூத்துக்குடி பாளையங்கோட்டை.
  பாளை பிரதான சாலையில், தூத்துக்குடி யிலிருந்து 7கி.மீ. பேருந்து நிறுத்தம்: அந்தோணியார்புரம்.
  👉Location map: https://goo.gl/maps/sdbmWmynnJypHhjn7
  வரலாறு:
  ***********
  🍇தூத்துக்குடி மாவட்டம் மறவன்மடம் ஊராட்சிக்கு உட்பட்ட அழகிய கிராமம் அந்தோணியார்புரம். இந்த ஊரானது விறுவெட்டான்காடு
  என்று அழைக்கப்பட்டு வந்த ஊரில் 1905 ஆம் ஆண்டில் திசையன்விளை, சாத்தான்குளம் மற்றும் தென்பகுதியைச் சேர்ந்த குடும்பங்கள்
  பிழைப்பிற்காக குடியேறினர். விறுவெட்டான்காட்டில் ஏற்கனவே வசித்து வந்தவர்களையும், குடியேறிய மக்களையும் சேர்த்து மொத்தம்
  14 குடும்பங்களும், பனைமரத்தை முக்கிய வாழ்வாதரமாகக் கொண்டு வாழ்ந்தனர்.
  🪴விறுவெட்டான்காடு என்று அழைக்கப்பட்ட ஊரானது தற்சமயம் உள்ள அந்தோணியார்புரத்திற்கு மேற்கே அரை கி.மீ தொலைவில் இருந்தது.
  இந்த ஊரில் ஆலயமும், பள்ளிக்கூடமும் அமைக்க வேண்டும் என்ற நோக்கில் சிலுவைமுத்து என்பவர், விறுவெட்டான்காட்டின் அருகில்
  உள்ள நாச்சியார்புரம் கிராமத்தில் ஒருவரிடம் இருந்து 3 ஏக்கர் 30 சென்ட் நிலம் வாங்கினார்.‌
  💜இந்த இடத்தில் ஆலயம் மற்றும் பள்ளிக்கூடம் அமைக்க தேவையான இடத்தை ஒதுக்கி விட்டு, மீதம் உள்ள இடம் 14 குடும்பங்களுக்கும்
  14 சமபாகங்களாக பிரிக்கப்பட்டு, அதில் சிறு குடிசை வீடுகள் கட்டி வாழ்ந்தனர்.
  புனித அந்தோணியார் ஆலயம்:
  🌿முதலில் பனையோலையில் சிலுவை செய்து மக்கள் இறைவனை வழிபட்டு வந்தனர். பின்னர் சிறிய குடில் (குருசடி) கட்டப்பட்டு,
  மாலையில் ஜெபம் செய்து வந்தனர்.
  💜பின்னர் 1925 ஆம் ஆண்டில் புனித அந்தோனியார் பெயரில் சிறு ஆலயம் கட்டப்பட்டது. ஆகவே விறுவெட்டான்காடு,
  "அந்தோணியார்புரம்" எனப் பெயர் மாற்றம் பெற்றது. மேலும் வெளிநாட்டிலிருந்து கொண்டு வரப்பட்ட புனித சீயன்னா கத்தரீனம்மாள்
  சுரூபமானது ஆலயத்தில் வைக்கப்பட்டு, பங்கின் இணைப் பாதுகாவலியாக வணங்கப்பட்டு வருகிறது. முதலில் கொம்பாடி பங்கின்
  கிளைப்பங்காக, அந்தோணியார்புரம் செயல்பட்டு வந்தது. அதன்பின் மூன்று மைல் தொலைவில் உள்ள மில்லர்புரம் -புனித யூதா ததேயு
  பங்கின் கிளைப்பங்காகவும், தொடர்ந்து புதுக்கோட்டை பங்கின் கிளைப் பங்காகவும் செயல்பட்டு வந்தது.
  💛1998 ஆம் ஆண்டு அருட்பணி. சேசு வில்லியம் அவர்களின் முயற்சியால், 17.07.2001 அன்று அந்தோணியார்புரம் தனிப் பங்காக
  உயர்த்தப் பட்டது. முதல் பங்குத்தந்தையாக அருட்பணி. செல்வ ஜார்ஜ் அவர்கள் பொறுப்பேற்று 5 ஆண்டுகள் சிறப்புற வழிநடத்தினார்.
  மேலும் அந்தோணியார்புரம் கிராமத்தின் பனைமரத் தொழிலின் சிறப்புக்களை உணர்த்துகின்றன வகையில் "பனையின் சிறப்பு" என்ற
  புத்தகத்தை வெளியிட்டார்.
  💙2008 ஆம் ஆண்டில் முதல் தேர் (புனித அந்தோனியார் தேர்) உருவாக்கப் பட்டது.
  🌹2012 ஆம் ஆண்டில் புதிய கொடிமரம் அமைக்கப்பட்டது.
  2013 ஆம் ஆண்டு இரண்டாம் தேர் (தேவமாதா தேர்) உருவாக்கப் பட்டது.
  🌷2013 ஆம் ஆண்டு வேளாங்கண்ணி மாதா கெபி அதிநவீன தொழில்நுட்ப உதவியுடன், தரையிலிருந்து 7 அடி உயரத்திற்கு உயர்த்தப்பட்டது.
  🍇2015 ஆம் ஆண்டு, 1925-ல் கட்டப்பட்ட பழைய ஆலயம் புனரமைக்கப்பட்டு, புனித கத்தரீனம்மாள் தியான ஆலயமாக மாற்றம் பெற்றது.
  🌸2015 ஆம் ஆண்டு புதிய தேர்பறை (அறை) கட்டப்பட்டது.
  🧡2019 ஆம் ஆண்டு புனித மிக்கேல் அதிதூதர் கெபி கட்டப்பட்டது.
  🎉1925 ஆம் ஆண்டு கட்டப்பட்ட புனித அந்தோணியார் ஆலயமானது, 2025 ஆம் ஆண்டு 100-ம் ஆண்டையும், தனிப்பங்கானதன் 25-ம்
  ஆண்டையும் கொண்டாட இருக்கிறது.‌ ஆகவே இவ்விழாவை சிறப்பிக்கும் வகையில் புதிய ஆலய கட்டுமானப் பணிகள் மேற்கொள்ள முயற்சிகள்
  எடுக்கப்பட்டு வருகிறது.‌ எனவே இவர்களின் முயற்சி வெற்றியடைய இறைவனிடம் ஜெபிப்போம்...
  புனித அந்தோனியார் பதனீர் கடை:
  ♥️ஒவ்வொரு வருடமும் பங்குனி மாதத்தில் அந்தோணியார் பதனீர்கடை துவக்கப்பட்டு, இருவர் பணியில் அமர்த்தப் படுகின்றனர். இது
  நான்கு மாதங்கள் வரையில் தொடர்கிறது. இதிலிருந்து கிடைக்கும் வருமானத்தைக் கொண்டு பங்கில் செயல்படும் பள்ளிக்கூடத்தின் 6
  முதல் 8-ம் வகுப்பு வரையிலான ஆசிரியர்களுக்கு ஊதியம் கொடுக்க பயன்படுத்தப் படுகிறது. ஆகவே இக்கிராமம் "பதனீர் விற்று
  பள்ளிக்கூடம் நடத்தும் கிராமம்" என்ற சிறப்புப் பெயரை பெற்றுள்ளது குறிப்பிடத்தக்கது.
  பள்ளிக்கூட வரலாறு:
  📚பழைய ஆலயம் இருந்த இடத்தில் ஒரு ஓலை குருசடியும், அதன் வடக்கு திசையில் ஒரு ஓலை பள்ளிக்கூடமும் துவக்கப்பட்டது.
  📗1940 ஆம் ஆண்டு அன்று பள்ளிக்கூடம் ஈராசியர் பள்ளியாக துவக்கப்பட் டு 23.02.1941 அன்று நிரந்தர அங்கீகாரம் பெற்றது.
  அப்போது பள்ளி நிர்வாகியாக அருட்திரு. அலோசியஸ் பெர்னான்டோ பணியாற்றினார்.
  84 மாணவ மாணவியருடன் 30.07.1955 அன்றிலிருந்து மூவாசிரியர் பள்ளியாக தரம் உயர்த்தப்பட்டது.
  💚03.06.2002 அன்று நடுநிலைப் பள்ளியாக உயர்ந்தது.
  🤎அருட்பணி. செல்வ ஜார்ஜ் பணிகாலத்தில் பள்ளிக்கூடத்திற்கு 3 ஏக்கர் நிலம் வாங்கப்பட்டு, அதில் பள்ளிக்கூட கட்டிடமும்,
  விளையாட்டு மைதானமும் உள்ளது.
  🌸பங்குத்தந்தை அருட்பணி. S. M. அமல்தாஸ் அவர்களின் முயற்சியால், பேரருட்திரு. மிக்கேல் கர்லூச்சி மற்றும் அவரது நண்பர்கள்
  நிதியுதவியுடன், அருளாளர் பெயாட்டோ ஆஞ்சலோ நினைவாக, புதிய பள்ளிக்கூட கட்டிடம் கட்டப்பட்டு, 28.08.2010 அன்று திறந்து
  வைக்கப்பட்டது.
  பங்கில் உள்ள கெபிகள்:
  🍇1. புனித மிக்கேல் அதிதூதர் கெபி
  🥝2. புனித செபஸ்தியார் கெபி
  🍒3. புனித சவேரியார் கெபி
  🫐4. வேளாங்கண்ணி மாதா கெபி
  🍊5. புனித சந்தனமாதா கெபி
  பங்கில் உள்ள பள்ளிக் கூடங்கள்:
  📗மார்னிங் ஸ்டார் நர்சரி பள்ளி
  📚ஆர். சி நடுநிலைப் பள்ளி
  பங்கில் உள்ள அருட்சகோதரிகள் இல்லம்:
  💎St. Louis convent (FSAG). அருட்சகோதரிகள் இல்லம் கட்டப்பட்டு 10.10.2010 அன்று மேதகு ஆயர் யுவான் அம்புரோஸ், D.D.,
  அவர்களால் திறந்து வைக்கப்பட்டது.
  ♥️FSAG சபையின் அருட்சகோதரிகள் ஆலயப் பணிகளோடு, கல்விப் பணியினையும், தொழில் கல்வியினையும் அளித்து வருகின்றனர்.
  தற்போது 3 அருட்சகோதரிகள் பணியாற்றி வருகின்றன்.
  அருட்சகோதரி. ஸ்டெல்லா - R.C நடுநிலைப் பள்ளி தலைமை ஆசிரியர் .
  அருட்சகோதரி. பென்சிகா - மார்னிங் ஸ்டார் நர்சரி பள்ளி ஆசிரியர்.
  அருட்சகோதரி. மரிய புஷ்பம் - தொழில் கல்வி, தையல் பயிற்சி.
  பங்கின் பங்கேற்பு அமைப்புக்கள்:
  🌽1. மறைக்கல்வி மன்றம்
  🍇2. பாலர் சபை
  🌷3. நற்கருணை வீரர் சபை
  🌼4. அமலோற்பவ மாதா சபை
  👪5. திருக்குடும்ப இயக்கம்
  💐6. கோல்பின் இயக்கம்
  🌹7. கத்தோலிக்க வாலிபர் இயக்கம்
  🌻8. மரியாயின் சேனை
  🌺9. விவிலிய நண்பர்கள் குழு
  🌸10. பாடகற்குழு
  🏵️11. புனித தோமினிக் சாவியோ பீடப்பூக்கள்
  பங்கில் பணியாற்றிய பங்குத்தந்தையர்கள்:
  🍎1. அருட்பணி.‌ செல்வ ஜார்ஜ் (2001-2006)
  🍎2. அருட்பணி.‌ S. M. அமலதாஸ் (2006-2011)
  🍎3. அருட்பணி.‌ J. B. அகஸ்டின் (2011-2016)
  🍎4. அருட்பணி.‌ அல்பின் லியோன் (2016-2021)
  🍎5. அருட்பணி. விளாடிமிர் டிக்சன் (2021-2022)
  🍎6. அருட்பணி.ஸ்டீபன் மரியதாஸ் (2022 முதல் தற்போது...)
  🙏இறைவனின் வல்லமை நிரப்பப் பெற்ற, புதுமைகள் பல புரியும் அந்தோணியார்புரம் ஆலயத்திற்கு அனைவரையும் அன்புடன்
  அழைக்கின்றோம்...
</pre>